@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--color-yellow-100);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Real dark mode (not Chrome auto-dark) */
@media (prefers-color-scheme: dark) {
  body {
    background: #0d0d0d;
    color: #ffffff;
  }
}

.custom-toast {
  background: #fff !important;
  border-radius: 12px !important;
  padding: 12px !important;
  box-shadow: 0px 4px 14px rgba(0,0,0,0.12);
}

.custom-progress {
  background: #3b82f6 !important;
  height: 4px !important;
}


html,
body {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

html::-webkit-scrollbar,
body::-webkit-scrollbar { 
  display: none;  /* Safari and Chrome */
}
.marquee {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.track {
  display: flex;
  width: max-content;
  white-space: nowrap;
  animation: marquee 12s linear infinite;
}

@keyframes marquee {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}
